@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Keyframes */

@keyframes popup {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes changeTextColor {
    0% {
        color: red;
    }
    100% {
        transform: scale(1.2);
        color: green;
    }
}

@keyframes fly {
    0% {
        left: 15%;
        top: 60%;
    }
    25% {
        left: 15%;
        top: 15%;
        transform: rotate(0deg);
    }
    26% {
        transform: rotate(90deg);
    }
    50% {
        left: 80%;
        top: 15%;
        transform: rotate(90deg);
    }
    51% {
        transform: rotate(180deg);
    }
    75% {
        left: 80%;
        top: 60%;
        transform: rotate(180deg);
    }
    76% {
        transform: rotate(270deg);
    }
    100% {
        left: 15%;
        top: 60%;
        transform: rotate(270deg);
    }
}

@keyframes text-anime {
    0%, 10%, 100% {
        width: 0%;
    }
    70%, 90% {
        width: 100%;
    }
}

@keyframes fly-separateur {
    0%, 50% {
        transform: rotate(90deg);
    }
    0%, 100% {
        left: 0%;
    }
    50% {
        left: 95%;
    }
    51% {
        transform: rotate(270deg);
    }
    99% {
        transform: rotate(270deg)
    }
}

/* Affichage */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Page qui s'affiche lors du chargement */

#no-correct-code 
{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#no-correct-code div.bg
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

#no-correct-code div.bg img 
{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#no-correct-code div.form 
{
    background-color: #B32F1A;
    position: absolute;
    z-index: 2;
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#no-correct-code div.form h1
{
    margin-bottom: 50px;
    margin-top: 30px;
    text-decoration: underline;
}

#no-correct-code div.form p 
{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 40px;
    line-height: 35px;
}

#no-correct-code div.form label
{
    margin-top: 30px;
}

#no-correct-code div.form div#submitButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 40px;
    transition: 0.4s;
}

#no-correct-code div.form div#submitButton:hover 
{
    transform: scale(1.2);
    background-color: greenyellow;
}

#no-correct-code div.form label input
{
    background-color: grey;
    border: none;
    transition: 0.1;
}

#no-correct-code div.form label input:focus 
{
    background-color: #fff;
}

/* Avertissement lorsque le code est faux */

#false-code
{
    position: absolute;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    top: 71.5vh;
    color: white;
    text-align: center;
    z-index: 5;
}

.still 
{ 
    opacity: 0;
}

.bouger
{ 
    opacity: 1;
    -moz-animation-name: popup;
    -o-animation-name: popup;
    -webkit-animation-name: popup;
    -ms-animation-name: popup;
    animation-duration: 5s;
}

/* Page qui s'affiche lorsqu'il y a le bon code */

#correct-code 
{
    display: none;
}

section.top-page
{
    background-image: url(img/top-page-bg.jpg); 
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
}

section.top-page header 
{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

section.top-page header nav a 
{
    margin: 0 60px;
    text-decoration: none;
    color: white;  
}

section.top-page div.top-phrase
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 35vw;
    line-height: 40px;
    font-size: 22px;
    -o-animation: changeTextColor 2s ease-in-out 0s infinite alternate;
    -webkit-animation: changeTextColor 2s ease-in-out 0s infinite alternate;
    -moz-animation: changeTextColor 2s ease-in-out 0s infinite alternate;
    -ms-animation: changeTextColor 2s ease-in-out 0s infinite alternate;
}

section.top-page div.avion
{
    position: absolute;
    width: 80px;
    left: 20%;
    top: 60%;
    -o-animation: fly 3s ease-in-out 0s infinite;
    -webkit-animation: fly 3s ease-in-out 0s infinite;
    -moz-animation: fly 3s ease-in-out 0s infinite;
    -ms-animation: fly 3s ease-in-out 0s infinite;
}

section.top-page div.avion img 
{
    width: 100%;
}

/* Cartes photo */

section.photo-card
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
}

section.photo-card .c
{
    height: 300px;
    overflow: hidden;
}

section.photo-card .photo1
{
    width: 269px;
    background-color: #000;
    display: flex;
    justify-content: center;
}

section.photo-card .c img
{
    height: 100%;
}

section.photo-card .ph
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

section.photo-card .ph .photo-group
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
}

section.photo-card .ph h1 
{
    position: relative;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 2px #383d52;
    -o-text-stroke: 2px #383d52;
    -moz-text-stroke: 2px #383d52;
    -ms-text-stroke: 2px #383d52;
}

section.photo-card .ph .anim-text
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.photo-card .ph h1:before 
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    color: #529d52;
    -webkit-text-stroke: 2px #529d52;
    -o-text-stroke: 2px #529d52;
    -moz-text-stroke: 2px #529d52;
    -ms-text-stroke: 2px #529d52;
    border-right: 2px solid #529d52;
    -webkit-animation: text-anime 6s linear infinite;
    -o-animation: text-anime 6s linear infinite;
    -moz-animation: text-anime 6s linear infinite;
    -ms-animation: text-anime 6s linear infinite;
}

.separateur
{
    position: relative;
    width: 90vw;
}

.separateur-coeur
{
    position: absolute;
    width: 80px;
    transform: rotate(90deg);
    top: 0;
    left: 0;
    -webkit-animation: fly-separateur 6s linear infinite;
    -o-animation: fly-separateur 6s linear infinite;
    -moz-animation: fly-separateur 6s linear infinite;
    -ms-animation: fly-separateur 6s linear infinite;
}

.separateur-coeur img
{
    width: 100%;
}
